@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
<<<<<<< HEAD
} */

body {
  overscroll-behavior: none;
  -webkit-user-select: none;
}

.search-icon {
  font-size: 2.2em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid rgba(0, 166, 255, 0.641);
  position: relative;
  border-radius: 0.35em;
}

.search-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: rgba(0, 166, 255, 0.641);
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}

.input-padding {
  padding: 3px 6px;
}
.input-padding2 {
  padding: 8px 10px;
}

.todo_title::-webkit-details-marker {
  display: none;
}

.date-box {
  @apply w-32 h-9 border border-black text-base rounded-lg flex items-center justify-center mb-1 relative
}

.date-dlt-btn {
  @apply 
  absolute w-5 h-5 items-center flex justify-center border border-black rounded-full rotate-45 -top-1 -right-2 bg-white z-10
  before:w-5 before:h-1 before:bg-black before:rotate-180 before:absolute
  after:w-5 after:h-1 after:bg-black after:-rotate-90 after:absolute
}

.box-height {
  height: 400px;
}
=======
} */
>>>>>>> 7b507281eed533e745dab60f9197e6edd81c8366
